{{ define "main" }}

<section class="py-10 py-lg-20 bg-bg-1">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-xl-8">
                <div class="mb-10 row justify-content-between">
                    <div class="col-auto aos-init aos-animate" data-aos="fade-down" data-aos-delay="0">
                        <a href="/blog" class="text-light-2">
                            <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512" class="fill-light-2">
                                <path d="M134.1 296H436c6.6 0 12-5.4 12-12v-56c0-6.6-5.4-12-12-12H134.1v-46.1c0-21.4-25.9-32.1-41-17L7 239c-9.4 9.4-9.4 24.6 0 33.9l86.1 86.1c15.1 15.1 41 4.4 41-17V296z"/>
                            </svg>
                            &nbsp
                            Back to blog
                        </a>
                    </div>
                </div>
                <h1 class="display-3 mb-6 mb-md-15 text-light-1 aos-init aos-animate" data-aos="fade-down"
                    data-aos-delay="500">
                    {{ .Title }}
                </h1>
                <div class="mb-10 row justify-content-between">
                    <div class="col-auto aos-init aos-animate" data-aos="fade-down" data-aos-delay="0">
                        <a href="#" class="text-light-2">
                            Design
                        </a>
                        <span class="text-light-2">
                            /
                        </span>
                        <span class="text-light-2">
                            Branding
                        </span>
                    </div>
                    <div class="col-auto aos-init aos-animate" data-aos="fade-down" data-aos-delay="250">
                        <p class="mb-0 text-light-2">
                            {{ .PublishDate.Format "January 2, 2006" }}
                        </p>
                    </div>
                </div>
                <div class="blog-content">
                    {{ .Content }}
                </div>
            </div>
        </div>
    </div>
</section>

{{ end }}