{{ define "main" }}

<section class="py-10 py-lg-20 bg-bg-1">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-xl-8">
                <div class="mb-10 row justify-content-between">
                    <div class="col-auto aos-init aos-animate" data-aos="fade-down" data-aos-delay="0">
                        <a href="{{ .Site.BaseURL }}blog" class="text-light-2">
                            <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512" class="fill-light-2">
                                <path d="M134.1 296H436c6.6 0 12-5.4 12-12v-56c0-6.6-5.4-12-12-12H134.1v-46.1c0-21.4-25.9-32.1-41-17L7 239c-9.4 9.4-9.4 24.6 0 33.9l86.1 86.1c15.1 15.1 41 4.4 41-17V296z"/>
                            </svg>
                            &nbsp;
                            Back to blog
                        </a>
                    </div>
                </div>
                <h1 class="display-3 mb-6 mb-md-15 text-light-1 aos-init aos-animate" data-aos="fade-down"
                    data-aos-delay="500">
                    {{ .Title }}
                </h1>
                <div class="mb-10 row justify-content-between">
                    <div class="col-auto aos-init aos-animate" data-aos="fade-down" data-aos-delay="0">
                        {{ partial "tags" . }}
                    </div>
                    <div class="col-auto aos-init aos-animate" data-aos="fade-down" data-aos-delay="250">
                        <p class="mb-0 text-light-2">
                            <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512" class="fill-light-2">
                                <path d="M148 288h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12zm108-12v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm96 0v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm-96 96v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm-96 0v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm192 0v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm96-260v352c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V112c0-26.5 21.5-48 48-48h48V12c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v52h128V12c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v52h48c26.5 0 48 21.5 48 48zm-48 346V160H48v298c0 3.3 2.7 6 6 6h340c3.3 0 6-2.7 6-6z"/>
                            </svg>
                            &nbsp;
                            {{ .PublishDate.Format "January 2, 2006" }}
                        </p>
                    </div>
                </div>
                <div class="blog-content">
                    {{ .Content }}
                </div>
            </div>
        </div>
    </div>
</section>

{{ partial "blog/cta" . }}

{{ end }}