<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{ .Site.Title }} - {{ .Site.Params.baseline }}</title>
    <meta name="description" content="Somari is the first software solution dedicated to managing the security of NGO staff on the field.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/i/icon-256.png">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@100;200;300;400;500;600;700;800;900&family=DM+Sans:wght@100;200;300;400;500;600;700;800;900&subset=latin&display=swap"
        rel="stylesheet">
        
    {{ $opts := dict "transpiler" "libsass" "targetPath" "styles.css" }}
    {{ with resources.Get "scss/styles.scss" | toCSS $opts | minify | fingerprint }}
        <link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous">
    {{ end }}
    <style>
        html {
            scroll-padding-top: 95px;
        }
    </style>
    <meta name="author" content="The Somari Team">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Security Management For NGOs">
    <meta property="og:description"
        content="Somari is the first web & mobile solution to dedicated to managing the security of NGO staff.">
    <meta property="og:url" content="https://somari.io">
    <meta property="og:image" content="https://somari.io/i/logo-somari-dark-text-social.png">
    <meta name='twitter:card' content='summary_large_image'>
    <meta name="twitter:title" content="Security Management For NGOs">
    <meta name="twitter:description"
        content="Somari is the first web & mobile solution to dedicated to managing the security of NGO staff.">
    <meta property="twitter:domain" content="somari.io">
    <meta property="twitter:url" content="https://somari.io">
    <meta name="twitter:image" content="https://somari.io/i/logo-somari-dark-text-social.png">
</head>

<body>
    {{ partial "nav.html" . }}

    {{ block "main" .}}
	{{ end }}

    {{ partial "footer.html" . }}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="/js/scripts.min.js"></script>
    <script async src="https://analytics.somari.io/tracker.js" data-ackee-server="https://analytics.somari.io" data-ackee-domain-id="f0803491-f159-478c-b0e4-278dc715c3f8" data-ackee-opts='{ "ignoreLocalhost": true, "detailed": true }'></script>
</body>

</html>